@import url('https://fonts.googleapis.com/css?family=Open+Sans');



section {
    position: absolute;
    background: #000;
    z-index: 10;
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 4em;
    z-index: 2;
   
}

p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    z-index: 3;
    margin: auto;
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
    margin: 50px 0 0;
    z-index: 5;
}

table, th, td {

    position: relative;
    border: 1px solid white;
    margin: auto;
    color: #fff;
    padding: 5px;
    text-align: center;
}

table {
    margin-bottom: 2cm;
}

.light {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display: block;
    z-index: 0;
}

table img {
    position: relative;

}

#forma {
    margin: 1cm;
    position: relative;
}

.dugme {
background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
    
